services:
  mongodb:
    container_name: mongodb
    image: "mongo:latest"
    restart: on-failure
    environment:
      - "MONGO_INITDB_DATABASE=portfolio"
      - "MONGO_INITDB_ROOT_PASSWORD=secret"
      - "MONGO_INITDB_ROOT_USERNAME=root"
    ports:
      - "27017:27017"
    volumes:
      - "mongodb:/data/db"
    networks:
      - portfolio-network
  portfolio-scripts-backend:
    container_name: portfolio-scripts-backend
    image: "portfolio-scripts-backend-image:latest"
    build:
      context: ./portfolio-scripts-backend
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "5000:5000"
    networks:
      - portfolio-network 
  
  portfolio-frontend:
    container_name: portfolio-frontend-app
    image: "portfolio-frontend-image:latest"
    build:
      context: ./portfolio-app-frontend
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "3001:80"
    networks:
      - portfolio-network
    depends_on:
      - portfolio-backend

  portfolio-backend:
    container_name: portfolio-backend-app
    image: "portfolio-backend-image:latest"
    build:
      context: ./portfolio-app-backend
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_MONGODB_HOST=mongodb
      - SPRING_DATA_MONGODB_USERNAME=root
      - SPRING_DATA_MONGODB_PASSWORD=secret
      - SPRING_DATA_MONGODB_AUTHENTICATION_DATABASE=admin
      - APP_REST_BASE_URL=http://portfolio-scripts-backend:5000
    networks:
      - portfolio-network
    depends_on:
      - mongodb

volumes:
  mongodb:
   
networks:
  portfolio-network:
    driver: bridge